<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title> 
    <link rel="icon" href="{{ url_for('static', filename='carlos_icon.png') }}" type="image/x-icon")}}>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_home.css') }}">
</head>
<body>
    <header class="header">
        <h3><a href="{{ url_for('calendar') }}">Calendar</a>&nbsp;&nbsp;
            <a href="{{ url_for('venue') }}">Venue Booking</a>&nbsp;&nbsp;
            <a href="{{ url_for('study') }}">Study</a>&nbsp;&nbsp;
            <a href="{{ url_for('overview') }}">Overview</a>&nbsp;&nbsp;
            <a href="{{ url_for('todo') }}">To Do List</a>&nbsp;&nbsp;
            <a href="{{ url_for('grades') }}">Grades</a>&nbsp;&nbsp;
            <form action="{{ url_for('index') }}">
                <input type="submit" value="Logout" class="logout">
            </form>
        </h3>
        <h1>{{ username }}'s Workspace</h1>
    </header>
    <div class="container">
        <img src="{{ url_for ('static', filename='carlos_home.png') }}">
        <div class="overlay_text">
            <h3>{{ today }}</h3>
            <h3>Math Promos: 2 days 13 hours</h3>
            <h3>Time Studied:</h3>
            <h1>{{ display_time }}</h1>
        </div>
    </div>

</body>
</html>